div {
  background-image: url("https://media0.giphy.com/media/B1xUp52rUnrv1Leakw/giphy.gif");
  padding-top: 50px;
  border: 10px solid red;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 300px;
  margin-left: 300px;
  
}